/* -----------------------------------------
	11. Global Mediaqueries
----------------------------------------- */
// xs: mobiles
// sm: small tablets / phablets
// md: tablets
// lg: tablets / small laptops
// xl: desktop

@include media-breakpoint-up(xs) { }
@include media-breakpoint-up(sm) { }
@include media-breakpoint-up(md) { }
@include media-breakpoint-up(lg) { }
@include media-breakpoint-up(xl) { }

@include media-breakpoint-down(xl) { }
@include media-breakpoint-down(lg) {

	.main-slider {
		height: 700px;

		.hero-title {
			font-size: 32px;
		}

		.hero-content-text {
			font-size: 16px;
			margin-bottom: 30px;
		}
	}

	.slide-content-text {
		padding-right: 5px;

		.slide-content-right & {
			padding-left: 5px;
		}
	}

	.slide-content-center {
		.slide-content-img {
			img {
				max-height: 340px;
			}
		}
	}
}

@include media-breakpoint-down(md) {
	.nav {
		display: none;
	}

	.mobile-menu-trigger {
		display: inline-block;
	}

	.slide-content-center {
		.slide-content-text {
			width: 100%;
			margin-left: -50%;
			padding: 0 15px;
		}
	}

	.widget_ci-slideshow + .widget-padded,
	.widget-padded + .widget_ci-slideshow {
		margin-top: -60px;
	}

	section.widget {
		margin-bottom: 60px;

		&.widget-padded:last-child,
		&.widget_ci-slideshow:last-child {
			margin-bottom: 0;
		}
	}

	.widget-padded {
		.widget-wrap {
			padding: 60px 0;

			&.wrap-extra-pad {
				padding: 120px 0;
			}
		}
	}

	.section-title-wrap {
		margin-bottom: 40px;
	}

	.sidebar {
		margin-top: 60px;
	}

	.table-pricing {
		margin-top: 0;
		margin-bottom: -30px;
	}

	.item-pricing-featured {
		margin-top: 0;
		padding: 23px 15px;
	}

	.client-list {
		img {
			max-height: 45px;
		}
	}

	.back-top {
		display: none;
	}
}
@include media-breakpoint-down(sm) {
	.main-slider {
		height: 480px;

		.hero-content-text {
			margin-bottom: 20px;
		}
	}

	.slide-content-img {
		display: none;
	}

	.slide-content-text {
		padding: 0;
		text-align: center;
	}

	.slide-content-right {
		.slide-content-text {
			padding: 0;
		}
	}

	.slide-content-center {
		.slide-content-text {
			top: 50%;
		}

		.slide-content-img {
			display: none;
		}
	}

	.hero-content-text {
		font-size: 16px;
	}

	.hero-title{
		font-size: 34px;
	}

	.hero-image {
		margin-bottom: 30px;
	}

	.section-title {
		font-size: 30px;
	}

	.widget_ci-slideshow + .widget-padded,
	.widget-padded + .widget_ci-slideshow {
		margin-top: -50px;
	}

	section.widget {
		margin-bottom: 50px;

		&.widget-padded:last-child,
		&.widget_ci-slideshow:last-child {
			margin-bottom: 0;
		}
	}

	.widget-padded {
		.widget-wrap {
			padding: 50px 0;

			&.wrap-extra-pad {
				padding: 90px 0;
			}
		}
	}

	.section-title-wrap {
		margin-bottom: 35px;
	}

	.sidebar {
		margin-top: 50px;
	}

	.testimonial-slider {
		.ci-control-paging {
			margin-top: 20px;
		}
	}

	.ci-testimonial {
		cite {
			margin-top: 20px;
		}
	}

	.footer-copy,
	.footer .text-right {
		text-align: center;
	}
}

@include media-breakpoint-down(xs) {
	h1 { font-size: 28px; }
	h2 { font-size: 24px; }
	h3 { font-size: 20px; }
	h4 { font-size: 18px; }
	h5 { font-size: 16px; }
	h6 { font-size: 14px; }

	.main {
		padding: 50px 0;
	}

	.main-home {
		padding: 0;
	}

	.main-slider {
		height: 480px;
	}

	.slide-content-text {
		.btn {
			display: block;
			margin: 0 0 7px;

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	.hero-content-text {
		font-size: 14px;
	}

	.hero-title,
	.page-title,
	.section-title {
		font-size: 28px;
	}

	.section-subtitle,
	.hero-subtitle {
		font-size: 14px;
	}

	.widget-padded + .widget-padded {
		margin-top: -40px;
	}

	section.widget {
		margin-bottom: 40px;

		&.widget-padded:last-child,
		&.widget_ci-slideshow:last-child {
			margin-bottom: 0;
		}
	}

	.widget-padded {
		.widget-wrap {
			padding: 40px 0;

			&.wrap-extra-pad {
				padding: 60px 0;
			}
		}
	}

	.widget_ci-slideshow + .widget-padded,
	.widget-padded + .widget_ci-slideshow {
		margin-top: -40px;
	}

	.section-title-wrap {
		margin-bottom: 35px;
	}

	.sidebar {
		margin-top: 40px;
	}

	.ci-testimonial {
		margin-top: 0;
		font-size: 16px;
	}
	
	.entry-title {
		font-size: 24px;
	}
}
