/* -----------------------------------------
  09.  MOBILE MENU
----------------------------------------- */
#mobilemenu {
	display: none;

	@include media-breakpoint-down(md) {
		display: block;
	}
}

.mobile-menu-trigger {
	float: right;
	font-size: 32px;
	color: inherit;
	line-height: normal;
	display: none;

	&:hover {
		color: inherit;
	}
}